In [ ]:
# Start writing code here...

# MPG Cars

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
cars1 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv")
cars2 = pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv")

print(cars1.head())
print(cars2.head())

    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  18.0          8           307        130    3504          12.0     70
1  15.0          8           350        165    3693          11.5     70
2  18.0          8           318        150    3436          11.0     70
3  16.0          8           304        150    3433          12.0     70
4  17.0          8           302        140    3449          10.5     70

   origin                        car  Unnamed: 9  Unnamed: 10  Unnamed: 11  \
0       1  chevrolet chevelle malibu         NaN          NaN          NaN
1       1          buick skylark 320         NaN          NaN          NaN
2       1         plymouth satellite         NaN          NaN          NaN
3       1              amc rebel sst         NaN          NaN          NaN
4       1                ford torino         NaN          NaN          NaN

   Unnamed: 12  Unnamed: 13
0          NaN          NaN
1          NaN          NaN
2          NaN          NaN
3          NaN          NaN
4          NaN          NaN
    mpg  cylinders  displacement horsepower  weight  acceleration  model  \
0  33.0          4            91         53    1795          17.4     76
1  20.0          6           225        100    3651          17.7     76
2  18.0          6           250         78    3574          21.0     76
3  18.5          6           250        110    3645          16.2     76
4  17.5          6           258         95    3193          17.8     76

   origin                 car
0       3         honda civic
1       1      dodge aspen se
2       1   ford granada ghia
3       1  pontiac ventura sj
4       1       amc pacer d/l

In [ ]:
#Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1
cars1.dropna(axis=1, how='all', inplace=True)
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [ ]:
#Step 5. What is the number of observations in each dataset?
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

In [ ]:
#Step 6. Join cars1 and cars2 into a single DataFrame called cars
cars = cars1.append(cars2)
cars.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

In [ ]:
#Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([48592, 27663, 26378, 34600, 38876, 48011, 30878, 55582, 55655,
       20101, 64881, 52542, 64782, 22643, 48683, 39437, 70163, 16000,
       60975, 19038, 41760, 50339, 35156, 24061, 42056, 33519, 55720,
       30519, 55016, 47369, 60805, 59979, 69949, 40717, 63264, 30314,
       68214, 16669, 66024, 66454, 32446, 59824, 43032, 27247, 47851,
       56957, 41553, 57637, 25443, 54276, 64900, 37119, 61359, 59052,
       68314, 59877, 61837, 52780, 40306, 41313, 62577, 64178, 66736,
       34863, 26138, 33640, 40023, 47424, 66438, 19059, 63959, 58961,
       39708, 32041, 61983, 41215, 16805, 60993, 63249, 35298, 22325,
       43661, 69208, 17203, 22786, 42747, 17690, 39206, 52214, 27109,
       34608, 69571, 70894, 47448, 36408, 67983, 51757, 22379, 27244,
       52631, 18178, 28039, 40400, 67106, 57546, 32900, 66186, 27707,
       66474, 58134, 33476, 26213, 62730, 59391, 35868, 38472, 32882,
       52483, 25402, 71147, 16019, 52587, 37051, 62124, 59246, 20959,
       33988, 64074, 57459, 37852, 61293, 42791, 22729, 60235, 25877,
       42472, 29349, 59580, 63143, 46472, 66959, 52816, 30345, 45593,
       16232, 28843, 49663, 44899, 48211, 39867, 27004, 72288, 53884,
       57675, 63446, 61628, 62646, 48439, 57014, 46437, 29782, 23681,
       53322, 30333, 28787, 28181, 24525, 31562, 51641, 57635, 16896,
       17331, 61724, 47115, 68332, 58842, 55006, 43780, 53924, 18417,
       27841, 65096, 64837, 54618, 57840, 54246, 21191, 61928, 39874,
       54876, 66580, 29239, 39629, 16533, 20137, 17509, 30678, 30595,
       47053, 27752, 66786, 33570, 34798, 68724, 63759, 51354, 18112,
       58455, 44776, 68203, 67824, 50423, 47532, 15606, 21518, 41490,
       43063, 69963, 38935, 32257, 49931, 69127, 22761, 46881, 35072,
       30222, 18722, 36742, 52780, 61395, 21661, 38902, 17877, 39741,
       49749, 58142, 27246, 57320, 24430, 48542, 29155, 49814, 66093,
       68455, 55856, 19320, 39182, 19500, 18723, 29201, 25262, 35663,
       23148, 57568, 15155, 48399, 21214, 27986, 63503, 53278, 46821,
       63975, 69347, 23500, 32423, 63401, 72019, 62205, 35592, 46999,
       63345, 32299, 35505, 69230, 58224, 27644, 15932, 46354, 61313,
       26828, 29369, 27659, 62038, 48245, 30147, 34292, 20932, 45075,
       48887, 57995, 70851, 56206, 52483, 45643, 19042, 35974, 69502,
       47829, 31548, 69219, 29109, 46648, 42046, 15369, 22456, 45506,
       48138, 42815, 15160, 46775, 61032, 24931, 45914, 54086, 44335,
       70244, 56024, 29876, 52760, 65276, 39668, 71120, 16809, 65854,
       16334, 51273, 29717, 65163, 50310, 19156, 26808, 17223, 72527,
       30286, 59085, 64335, 53141, 52387, 40642, 72398, 39971, 62026,
       27436, 29092, 62450, 42867, 31989, 26602, 40160, 38468, 34882,
       26441, 18320, 25786, 64627, 18152, 69282, 26774, 38237, 63905,
       23490, 67339, 52572, 32764, 58339, 25199, 46682, 26323, 71358,
       46428, 62276, 26373, 22298, 58233, 58018, 35484, 15951, 65374,
       34887, 24500, 18519, 58214, 48608, 63932, 39524, 15775, 65812,
       32096, 54100, 49291, 44855, 51953, 69803, 72132, 40075, 41732,
       29006, 28582])

In [ ]:
#Step 8. Add the column owners to cars
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,72132
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,40075
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,41732
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,29006
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,28582

# Fictitious Names

In [ ]:
import pandas as pd

In [ ]:
raw_data_1 = {
        'subject_id': ['1', '2', '3', '4', '5'],
        'first_name': ['Alex', 'Amy', 'Allen', 'Alice', 'Ayoung'], 
        'last_name': ['Anderson', 'Ackerman', 'Ali', 'Aoni', 'Atiches']}

raw_data_2 = {
        'subject_id': ['4', '5', '6', '7', '8'],
        'first_name': ['Billy', 'Brian', 'Bran', 'Bryce', 'Betty'], 
        'last_name': ['Bonder', 'Black', 'Balwner', 'Brice', 'Btisan']}

raw_data_3 = {
        'subject_id': ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11'],
        'test_id': [51, 15, 15, 61, 16, 14, 15, 1, 61, 16]}

In [ ]:
data1 = pd.DataFrame(raw_data_1, columns = ['subject_id', 'first_name', 'last_name'])
data2 = pd.DataFrame(raw_data_2, columns = ['subject_id', 'first_name', 'last_name'])
data3 = pd.DataFrame(raw_data_3, columns = ['subject_id','test_id'])

data3

  subject_id  test_id
0          1       51
1          2       15
2          3       15
3          4       61
4          5       16
5          7       14
6          8       15
7          9        1
8         10       61
9         11       16

In [ ]:
#Step 4. Join the two dataframes along rows and assign all_data
all_data = pd.concat([data1, data2])
all_data.head()

  subject_id first_name last_name
0          1       Alex  Anderson
1          2        Amy  Ackerman
2          3      Allen       Ali
3          4      Alice      Aoni
4          5     Ayoung   Atiches

In [ ]:
#Step 5. Join the two dataframes along columns and assing to all_data_col
all_data_col = pd.concat([data1, data2], axis=1)
all_data_col

  subject_id first_name last_name subject_id first_name last_name
0          1       Alex  Anderson          4      Billy    Bonder
1          2        Amy  Ackerman          5      Brian     Black
2          3      Allen       Ali          6       Bran   Balwner
3          4      Alice      Aoni          7      Bryce     Brice
4          5     Ayoung   Atiches          8      Betty    Btisan

In [ ]:
#Step 7. Merge all_data and data3 along the subject_id value
pd.merge(all_data, data3, on='subject_id')

  subject_id first_name last_name  test_id
0          1       Alex  Anderson       51
1          2        Amy  Ackerman       15
2          3      Allen       Ali       15
3          4      Alice      Aoni       61
4          4      Billy    Bonder       61
5          5     Ayoung   Atiches       16
6          5      Brian     Black       16
7          7      Bryce     Brice       14
8          8      Betty    Btisan       15

In [ ]:
#Step 8. Merge only the data that has the same 'subject_id' on both data1 and data2
pd.merge(data1, data2, on='subject_id', how='inner')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          4        Alice        Aoni        Billy      Bonder
1          5       Ayoung     Atiches        Brian       Black

In [ ]:
#Step 9. Merge all values in data1 and data2, with matching records from both sides where available.
pd.merge(data1, data2, on='subject_id', how='outer')

  subject_id first_name_x last_name_x first_name_y last_name_y
0          1         Alex    Anderson          NaN         NaN
1          2          Amy    Ackerman          NaN         NaN
2          3        Allen         Ali          NaN         NaN
3          4        Alice        Aoni        Billy      Bonder
4          5       Ayoung     Atiches        Brian       Black
5          6          NaN         NaN         Bran     Balwner
6          7          NaN         NaN        Bryce       Brice
7          8          NaN         NaN        Betty      Btisan

# Housing Market

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
s1 = pd.Series(np.random.randint(1, high=5, size=100, dtype='l'))
s2 = pd.Series(np.random.randint(1, high=4, size=100, dtype='l'))
s3 = pd.Series(np.random.randint(10000, high=30001, size=100, dtype='l'))

print(s1, s2, s3)

0     3
1     1
2     3
3     1
4     3
     ..
95    2
96    4
97    1
98    2
99    1
Length: 100, dtype: int64 0     2
1     3
2     3
3     2
4     1
     ..
95    1
96    3
97    3
98    2
99    1
Length: 100, dtype: int64 0     27091
1     16837
2     20378
3     20148
4     12123
      ...
95    10545
96    29162
97    21505
98    20356
99    14762
Length: 100, dtype: int64

In [ ]:
#Step 3. Let's create a DataFrame by joinning the Series by column
housemkt = pd.concat([s1,s2,s3],axis=1)
housemkt.head()

   0  1      2
0  3  2  27091
1  1  3  16837
2  3  3  20378
3  1  2  20148
4  3  1  12123

In [ ]:
#Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter
housemkt.rename(columns={0:'bedrs', 1:'bathrs', 2:'price_sqr_meter'}, inplace=True)
housemkt

    bedrs  bathrs  price_sqr_meter
0       3       2            27091
1       1       3            16837
2       3       3            20378
3       1       2            20148
4       3       1            12123
..    ...     ...              ...
95      2       1            10545
96      4       3            29162
97      1       3            21505
98      2       2            20356
99      1       1            14762

[100 rows x 3 columns]

In [ ]:
#Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'
bigcolumn =pd.concat([s1,s2,s3], axis=0)
bigcolumn = bigcolumn.to_frame()
bigcolumn

        0
0       3
1       1
2       3
3       1
4       3
..    ...
95  10545
96  29162
97  21505
98  20356
99  14762

[300 rows x 1 columns]

In [ ]:
#Step 6. Oops, it seems it is going only until index 99. Is it true?
bigcolumn.size

300

In [ ]:
#Step 7. Reindex the DataFrame so it goes from 0 to 299
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

         0
0        3
1        1
2        3
3        1
4        3
..     ...
295  10545
296  29162
297  21505
298  20356
299  14762

[300 rows x 1 columns]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=c8373d44-6f9d-4f40-9d16-056f9771ed89' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>